.card {
  margin-top: 50px;
  border-radius: 10px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.form-control {
  border-radius: 5px;
}

.form-group label {
  font-weight: bold;
}

.text-danger {
  font-size: 12px;
  margin-top: 5px;
}

.text-danger div {
  margin-left: 10px;
}
.card {
  border: 2px solid rgb(255, 255, 255); /* adds a red border */
  background-color: rgb(249, 249, 245); /* changes the background color to yellow */
  padding: 20px; /* adds some padding to the box */
}
