<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="">My Store</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Registration</a>
      </li>
      <div>

      </div>
      <li  class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      
      
      
      <li class="nav-item">
        <a class="nav-link" 
        (click)="submit()"
        routerLink="/home">Logout</a>
      </li>
    </ul>
    <div 
    class="d-flex text-right">
        <div class="p-2">
          <a routerLink= "cart">
            <i class="fas fa-shopping-cart"></i>
            <span class="badge bg">{{this.services1.number}}</span>
          </a>
        </div>
    </div>
  </nav>
  