<div class="body1">
  <nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="">Angular Ecommerce</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Registration</a>
      </li>
      <li  class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="submit()" routerLink="/home">Logout</a>
      </li>
    </ul>
    <div class="d-flex text-right">
      <div class="p-2">
        <a routerLink="cart">
          <i class="fas fa-shopping-cart"></i>
          <span class="badge bg">{{this.services1.number}}</span>
        </a>
      </div>
    </div>
  </nav>
</div>
