
  <div class="hero-container">
    <div class="hero-image"></div>
    <div class="hero-text">
      <h1>Welcome to Our E-commerce Store</h1>
      <p>Discover the latest trends in fashion, beauty, and more.</p>
      <a routerLink="/register" class="btn">Shop Now</a>
    </div>
  </div>
  <div id="features">
    <div class="row">
      <div class="feature-box col-lg-4">
        <i class="icon fas fa-check-circle fa-4x"></i>
        <h3>Easy to use.</h3>
        <p>Get at your doorstep, order now!</p>
      </div>
      <div class="feature-box col-lg-4">
        <i class="icon far fa-dot-circle fa-4x"></i>
        <h3>Elite Clientele</h3>
        <p>We have all the categories.</p>
      </div>
      <div class="feature-box col-lg-4 ">
        <i class=" icon fas fa-heart fa-4x"></i>
        <h3>Guaranteed to work.</h3>
        <p>On time and no Contact delivery.</p>
      </div>
    </div>
  
    
    
  <footer>
    <p>&copy; 2023 E-commerce Store. All rights reserved.</p>
  </footer>

