<div *ngIf="cartProducts.length > 0">
  <h1>Shopping Cart</h1>
<table class="table">
  <thead>
    <tr>
      <th>S.No</th>
      <th>Product Name</th>
      <th>Price</th>
      <th>Image</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of cartProducts; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ product.title }}</td>
      <td>${{ product.price }}</td>
      <td><img src="{{ product.image }}" alt="{{ product.title }}" width="100"></td>
      <td>{{ product.description }}</td>
    </tr>
  </tbody>
</table>

<div
*ngIf="token"
class="buttons">
  <button  routerLink="/home" class="btn btn-secondary">Shop More</button>
  <button  routerLink="checkout" class="btn btn-primary">Continue with Order</button>
</div>
<button *ngIf="!token" class="btn btn-primary"mat-raised-button color="primary" routerLink="/login">Login</button>


</div>

<div *ngIf="cartProducts.length === 0" class="empty-cart py-16">
  <div class="container mx-auto text-center">
    <h1 class="text-3xl font-bold mb-2">Cart Empty 😕</h1>
    <p class="text-gray-500 text-lg mb-12">You probably haven't ordered anything yet. <br>
    To order any product, go to the main page.</p>
    <a href="https://ibb.co/fGNw6hF">
      <img src="https://i.ibb.co/bRv9wSm/empty-cart.png" alt="empty-cart">
    </a>
    <button routerLink="/home" class="inline-block px-6 py-2 rounded-full btn-primary text-white font-bold mt-12">Go back</button>
  </div>
</div>
